@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-action="Search">
    <div class="mb-3">
        <input type="text" name="searchInput" class="form-control" placeholder="Product Name,Description,Category" />
    </div>
    <div class="row">
        <div class="col md-5">
            <div class="mb-3">
                <input type="number" name="minStock" class="form-control" placeholder="Min stock" />
            </div>
        </div>
        <div class="col md-5">
            <div class="mb-3">
                <input type="number" name="maxStock" class="form-control" placeholder="Max stock" />
            </div>
        </div>
        <div class="col md-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    
   
    
</form>

 @await Component.InvokeAsync("_ListProductComponentPartial")
